/CipherCreator/CipherCreator.sln

.idea/
.vscode/

.idea/*

.DS_Store
.AppleDouble
.LsOverride

bin/
obj/

./idea/.idea/*
./idea/modules.xml
./idea/workspace.xml

project.lock.json
project.fragment.lock.json

/.nuget/

Thumbs.db
Desktop.ini